.space-overview {
    position: relative;
    background-image: linear-gradient(to top, #292828, #181818);
    width: 100%;
    height: auto;
    padding: 5rem 4rem;
    color: rgb(227, 229, 232);
}

.space-overview > h2 {
    font-size: 2.5rem;
    font-family: 'Poppins';
    font-weight: 600;
    color: rgb(227, 229, 232);
    margin: 0 0 4rem;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 1rem;
    height: fit-content;
    width: 100%;
}

.content-wrapper label,
.content-wrapper input {
    display: block;
}

/* SPACE FORM */

.space-form {
    width: 500px;
    min-width: 391px;
    background-color: #101010;
    padding: 2rem 2.5rem;
    border-radius: 2rem;
    outline: 2px solid #fff;
    transition: all 0.6s ease-in-out;
}

.space-form:hover {
    box-shadow: 0 0 50px 0 rgb(255, 255, 255, 0.1);
}

.space-form h2 {
    font-size: 1.8rem;
    margin-bottom: 1.4rem;
}

.space-form label {
    font-size: 1.28rem;
    margin-bottom: 0.7rem;
}

.space-form input {
    font-family: 'Poppins';
    font-size: 1.05rem;
    letter-spacing: 0.5px;
    width: 100%;
    height: 40px;
    margin: 0 auto 1.5rem;
    padding: 0 1rem;
    border-radius: 0.7rem;
    border: none;
    transition: all 0.5s ease-in-out;
}

.space-form input:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.space-form input:focus-visible {
    outline: none;
}

.space-form select {
    font-family: 'Poppins';
    font-size: 1rem;
    letter-spacing: 0.5px;
    height: 35px;
    margin-bottom: 1rem;
    padding: 0 1rem;
    border-radius: 0.7rem;
    border: none;
    transition: all 0.5s ease-in-out;
}

.space-form select:hover {
    box-shadow: 0 0 20px 0 rgba(255, 255, 255, 0.3);
}

.space-form select:focus-visible {
    outline: none;
}

.space-form button {
    display: block;
    font-family: 'Poppins';
    font-size: 1.08rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 1.3rem auto 0;
    height: 50px;
    width: 170px;
    border-radius: 0.8rem;
    background-color: #fff;
    border: none;
    transition: all 0.35s ease-in-out;
}

.space-form button:hover {
    color: #fff;
    background-color: #2020207b;
    outline: 1px solid white;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.39);
}


/* SPACE VIEW */

.space-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 900px;
    min-height: 400px;
    background-color: #101010;
    border-radius: 2rem;
    outline: 2px solid #fff;
    overflow: hidden;
    transition: 0.45s ease-in-out;
}

.space-view:hover {
    box-shadow: 0 0 50px 0 rgb(255, 255, 255, 0.1);
}

.space-view h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 1.35rem 1.5rem 2rem;
    padding-right: 1.8rem;
    color: #fff;
    text-shadow: 0 0 10px rgb(0, 0, 0, 0.85);
    z-index: 1;
}

/* HELP ICON */
.space-view i {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.7rem;
    font-weight: 700;
    margin: 1.6rem;
    color: #ffffff;
    z-index: 1;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.space-view i::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    background-color: #232121;
    box-shadow: 0 0 13px 0 black;
    border-radius: 50%;
    z-index: -1;   
}

.space-view i:hover {
    transform: scale(1.07);
}

.info-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.info-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    position: relative;
    background-color: #101010;
    color: #ffffff;
    padding: 1.3rem;
    outline: 2px solid #ffffff;
    border-radius: 1.8rem;
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.info-content > * {
    font-family: 'Poppins';
}

.info-content h3 {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
}

.info-content span:nth-child(5) {
    font-weight: 600;
}

.info-content button {
    background-color: #101010;
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.5rem 2rem;
    border-radius: 0.7rem;
    border: none;
    outline: 2px solid #fff;
    margin: 1.8rem 0 0.4rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.info-content button:hover {
    background-color: #fff;
    color: #101010;
    border-radius: 1.1rem;
    outline: none;
}

.generated-image {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 2rem;
}

.loader-container,
.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
}

.loader {
    width: 85px;
    margin-bottom: 2rem;
    animation: loaderSpin 5s linear infinite;
}

@keyframes loaderSpin {
    0% {
        transform: rotate(0) scale(1);
    }

    50% {
        transform: rotate(180deg) scale(1.2);
    }

    100% {
        transform: rotate(360deg) scale(1);
    }
}

.loader-text {
    font-family: 'poppins';
    color: #ffffff;
    text-align: center;
}

.error-message {
    margin-bottom: 1.5rem;
    text-align: center;
}

.error-images {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 210px;
    height: 210px;
}

.error-img-1 {
    position: absolute;
    width: 210px;
    animation: astronautFloating 7s ease-in-out infinite;
}

.error-img-2 {
    position: absolute;
    width: 210px;
    animation: planetPulsing 5s ease-in-out infinite;
}

@keyframes astronautFloating {
    0% {
        transform: translateY(0) translateX(0) rotate(0deg) scale(1)
    }

    25% {
        transform: translateY(-12px) translateX(6px) rotate(3deg) scale(1.02)
    }

    50% {
        transform: translateY(-20px) translateX(0px) rotate(0deg) scale(1)
    }

    75% {
        transform: translateY(-12px) translateX(-6px) rotate(-3deg) scale(1.04)
    }

    100% {
        transform: translateY(0) translateX(0) rotate(0deg) scale(1)
    }
}

@keyframes planetPulsing {
    0% {
        transform: rotate(0deg) scale(1);
        filter: hue-rotate(0);
    }

    50% {
        transform: rotate(-1deg) scale(1.07);
        filter: hue-rotate(30deg);
    }

    100% {
        transform: rotate(0deg) scale(1);
        filter: hue-rotate(0);
    }
}

/* IMAGE ZOOM (when the star chart gets clicked) */
.image-zoom-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.image-zoom-content {
    display: flex;
    justify-content: center;
    position: relative;
    outline: 2px solid #ffffff;
    border-radius: 1.8rem;
    max-width: fit-content;
    min-width: 300px;
    width: 90%;
    text-align: center;
    overflow: hidden;
}

.zoomed-img {
    min-width: 300px;
}


/* RESPONSIVE */
@media screen and ( max-width: 1100px ) {
    .content-wrapper {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 2rem;
        height: 100%;
        width: 100%;
    }

    .space-form {
        width: 90%;
        min-width: 300px;
    }

    .space-view {
        width: 90%;
    }

    .space-view h2 {
        font-size: 1.68rem;
    }

    .space-view i {
        font-size: 1.6rem;
    }

    .loader-container,
    .error-container {
        padding: 1.5rem;
    }
    
    .loader {
        width: 70px;
    }

    .error-img-1,
    .error-img-2 {
        width: 150px;
    }
}

@media screen and ( max-width: 700px ) {
    .space-overview {
        padding: 4rem 2rem;
    }
}

@media screen and ( max-width: 600px ) {
    .space-overview {
        padding: 4rem 1.2rem;
    }

    .space-overview h2 {
        font-size: 2.1rem;
    }

    .space-form { /* Space form styles */        
        width: 100%;
        padding: 2rem 1.6rem;
    }

    .space-form h2 {
        font-size: 1.6rem;
    }
    
    .space-form label {
        font-size: 1.18rem;
    }
    
    .space-form input {
        font-size: 1rem;
    }
    
    .space-form select {
        font-size: 0.97rem;
    }
    
    .space-form button {
        font-size: 1rem;
        font-weight: 700;
        height: 45px;
        width: 160px;
    }

    /* SPACE VIEW */

    .space-view { 
        width: 100%;
        min-width: 300px;
    }

    .space-view h2 {
        font-size: 1.4rem;
    }

    /* HELP POP-UP */
    .space-view i {
        font-size: 1.5rem;
    }

    .info-content h3 {
        font-size: 1.3rem;
    }

    .info-content span {
        font-size: 0.95rem;
    }

    .info-content button {
        padding: 0.4rem 1.7rem;
    }
    
    .generated-image {
        border-radius: 1.6rem;
    }

    .loader-text {
        font-size: 1.05rem;
        font-weight: 500;
    }

    .error-message {
        font-size: 1.1rem;
        font-weight: 500;
    }
}